@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-color: $favColor;
}

.dark-mode-div {
  content: url(https://www.pokerguard.com/image/cache/data/product-images/skullnbones-600x600.gif);
  position: absolute;
}
