.App {
  text-align: center;
  margin-top: 15px;
  min-height: 5010px;
  .forest-header {
    border-bottom: 1px solid black;
  }
  .basket-header {
    border-bottom: 1px solid black;
  }
  &.dark-mode {
    background-color: black;
    color: red;
  }
}
