.App {
  text-align: center;
  height: 100%;
  min-height: 840px;
  .forest-header {
    border-bottom: 1px solid black;
  }
  .basket-header {
    border-bottom: 1px solid black;
  }
  &.dark-mode {
    background-color: black;
    color: red;
    height: 100vh;
  }
  &.winner-mode {
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    height: 100vh;
  }
}
